*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body,
#root{
    width:100%;
    min-height:100%;
}

body{
    font-family:"Manrope",sans-serif;
    background:var(--background);
    color:var(--text);
    overflow-x:hidden;
}

button,
input,
textarea{
    font-family:inherit;
}

a{
    text-decoration:none;
    color:inherit;
}

img{
    user-select:none;
}